<!DOCTYPE html>
    <html lang="en" class="has-background-light">
    <head>
        <%- include('partials/head', { title }); %>
    </head>

    <body>
        <%- include('partials/nav', { user_data }); %>
        
        <div id="main-container" class="container is-fluid mb-0 pb-0">
            <section class="section mt-2 pt-2 mb-0 pb-0">
                <div class="columns mr-6 home-first-row-card">
                    <%
                        const list_of_stat_attribute = [
                            ['Penduduk', 'fa-user-group', 'info', user_data[0].people_current, user_data[0].people_max, (user_data[0].people_current / user_data[0].people_max) * 100],
                            ['Kemakmuran', 'fa-face-smile', 'success',  user_data[0].prosperity_current, user_data[0].prosperity_max, (user_data[0].prosperity_current / user_data[0].prosperity_max) * 100],
                            ['Kriminalitas', 'fa-radiation', 'danger',  user_data[0].crime_rate_current, user_data[0].crime_rate_max, (user_data[0].crime_rate_current / user_data[0].crime_rate_max) * 100],
                            ['Uang', 'fa-coins', 'warning',  user_data[0].money_current, user_data[0].money_max, (user_data[0].money_current / user_data[0].money_max) * 100]
                        ];
                    %>
                    
                    <% for(i = 0; i < list_of_stat_attribute.length; i++) {%>
                        <div class="column">
                            <div class="card">
                                <div class="card-content">
                                  <div class="content">
                                    <div class="icon-text title is-5 has-text-<%= list_of_stat_attribute[i][2] %>">
                                        <div class="icon">
                                            <i class="fa-solid <%= list_of_stat_attribute[i][1] %>"></i>
                                        </div>
    
                                        <div class="text"><%= list_of_stat_attribute[i][0] %></div>
                                    </div>
                                    
                                    <div class="content-progress">
                                        <div class="text"><%= list_of_stat_attribute[i][3] %>/<%= list_of_stat_attribute[i][4] %></div>
                                        <progress class="progress is-<%= list_of_stat_attribute[i][2] %> is-medium" value="<%= list_of_stat_attribute[i][5] %>" max="100">100%</progress>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>

                <div class="columns mr-6 home-second-row-card">
                    <div class="column is-three-quarters">
                        <div class="card">
                            <div class="card-content">
                                <div class="title is-4 m-0 p-0 mb-1">
                                    Kasus Kriminal
                                </div>

                                <div class="content has-text-justified pr-1">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore inventore, ducimus necessitatibus atque ea minus recusandae voluptas quisquam earum quis eaque ipsum deleniti ad error accusamus rem nesciunt rerum! Sit.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum similique nulla adipisci cum expedita alias sed. Saepe modi, obcaecati quam eum, tenetur quaerat nesciunt ut cum suscipit debitis expedita ex!
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut voluptatum doloribus commodi cumque deserunt voluptatem iure quae magni. Optio deleniti nobis explicabo assumenda saepe similique, sapiente temporibus non quas laborum.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente recusandae fuga laboriosam quas blanditiis eaque, distinctio explicabo sunt qui sequi. Est minima ex laborum explicabo enim, itaque doloremque et laboriosam.
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore inventore, ducimus necessitatibus atque ea minus recusandae voluptas quisquam earum quis eaque ipsum deleniti ad error accusamus rem nesciunt rerum! Sit.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum similique nulla adipisci cum expedita alias sed. Saepe modi, obcaecati quam eum, tenetur quaerat nesciunt ut cum suscipit debitis expedita ex!
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut voluptatum doloribus commodi cumque deserunt voluptatem iure quae magni. Optio deleniti nobis explicabo assumenda saepe similique, sapiente temporibus non quas laborum.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente recusandae fuga laboriosam quas blanditiis eaque, distinctio explicabo sunt qui sequi. Est minima ex laborum explicabo enim, itaque doloremque et laboriosam.
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore inventore, ducimus necessitatibus atque ea minus recusandae voluptas quisquam earum quis eaque ipsum deleniti ad error accusamus rem nesciunt rerum! Sit.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum similique nulla adipisci cum expedita alias sed. Saepe modi, obcaecati quam eum, tenetur quaerat nesciunt ut cum suscipit debitis expedita ex!
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut voluptatum doloribus commodi cumque deserunt voluptatem iure quae magni. Optio deleniti nobis explicabo assumenda saepe similique, sapiente temporibus non quas laborum.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente recusandae fuga laboriosam quas blanditiis eaque, distinctio explicabo sunt qui sequi. Est minima ex laborum explicabo enim, itaque doloremque et laboriosam.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="card">
                            <div class="card-content">
                                <div class="title is-4 m-0 p-0 mb-1">
                                    Sejarah Kriminal
                                </div>

                                <div class="content has-text-justified pr-1">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut commodi impedit molestiae minus architecto quidem adipisci quaerat possimus assumenda explicabo quod ea repudiandae harum quo, asperiores animi nam similique laudantium.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut commodi impedit molestiae minus architecto quidem adipisci quaerat possimus assumenda explicabo quod ea repudiandae harum quo, asperiores animi nam similique laudantium.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut commodi impedit molestiae minus architecto quidem adipisci quaerat possimus assumenda explicabo quod ea repudiandae harum quo, asperiores animi nam similique laudantium.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="columns mr-6 home-third-row-card">
                    <div class="column">
                        <div class="card has-background-success card-button" id="card-button-innocent">
                            <div class="card-content">
                                <div class="title is-4 has-text-white">Tidak Bersalah</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="column">
                        <div class="card has-background-danger card-button" id="card-button-guilty">
                            <div class="card-content">
                                <div class="title is-4 has-text-white">Bersalah</div>
                            </div>
                        </div>
                    </div>

                    <div class="column is-one-quarter">
                        <div class="card">
                            <div class="card-content">
                                <% 
                                    let case_current = user_data[0].crime_case[user_data[0].crime_case.length - 1].case_current;
                                    let case_max = user_data[0].crime_case[user_data[0].crime_case.length - 1].case_max;                          
                                %>

                                <div class="title is-5"><%= case_current %> dari <%= case_max %> Kasus Hari Ini</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>