<!DOCTYPE html>
<html lang="en" class="has-background-light">
    <head>
        <%- include('partials/head', { title }); %>
    </head>

    <body>
        <%- include('partials/nav', { user_data }); %>
        
        <div id="main-container" class="container is-fluid mb-0 pb-0">
            <section class="section mt-2 pt-2 mb-0 pb-0">
                <div class="columns mr-6 home-first-row-card">
                    <%
                        const list_of_stat_attribute = [
                            {display : "Penduduk", icon : "fa-user-group", color : "info", current : user_data.people_current, max : user_data.people_max, percentage : (user_data.people_current / user_data.people_max) * 100},
                            {display : "Kemakmuran", icon : "fa-face-smile", color : "success", current : user_data.prosperity_current, max : user_data.prosperity_max, percentage : (user_data.prosperity_current / user_data.prosperity_max) * 100},
                            {display : "Kriminalitas", icon : "fa-radiation", color : "danger", current : user_data.crime_rate_current, max : user_data.crime_rate_max, percentage : (user_data.crime_rate_current / user_data.crime_rate_max) * 100},
                            {display : "Keuangan", icon : "fa-coins", color : "warning", current : user_data.money_current, max : user_data.money_max, percentage : (user_data.money_current / user_data.money_max) * 100}
                        ];
                    %>
                    
                    <% for(i = 0; i < list_of_stat_attribute.length; i++) {%>
                        <div class="column">
                            <div class="card" id="<%= list_of_stat_attribute[i].color %>_card">
                                <div class="card-content">
                                  <div class="content">
                                    <div class="icon-text title is-5 has-text-<%= list_of_stat_attribute[i].color %>">
                                        <div class="icon">
                                            <i class="fa-solid <%= list_of_stat_attribute[i].icon %>"></i>
                                        </div>
    
                                        <div class="text"><%= list_of_stat_attribute[i].display %></div>
                                    </div>
                                    
                                    <div class="content-progress">
                                        <div class="text"><%= list_of_stat_attribute[i].current %>/<%= list_of_stat_attribute[i].max %></div>
                                        <progress class="progress is-<%= list_of_stat_attribute[i].color %> is-medium" value="<%= list_of_stat_attribute[i].percentage %>" max="100"><%= list_of_stat_attribute[i].percentage %>%</progress>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>

                <div class="columns mr-6 home-second-row-card">
                    <div class="column is-three-quarters">
                        <div class="card">
                            <div class="card-content">
                                <div class="title is-4 m-0 p-0 mb-1 has_title_underline" style="white-space: nowrap;">
                                    Kasus Kriminal
                                </div>

                                <div class="content has-text-justified pr-1">
                                    <% 
                                        let current_day = user_data.crime_case.length
                                        let current_case = user_data.crime_case[current_day - 1].case.length
                                        let current_case_data = user_data.crime_case[current_day - 1].case[current_case - 1]
                                        let case_theme = current_case_data.case_theme
                                    %>

                                    <% for(let i = 0; i < case_theme.length; i++){%>
                                        <% if(current_case_data.case_is_guilty == true){ %>
                                            <div><%= i+1 %>. <%= case_theme[i].crime %></div>
                                        <% } else if(current_case_data.case_is_guilty == false){ %>
                                            <div><%= i+1 %>. <%= case_theme[i].crime %>, tetapi setelah penyelidikan lebih lanjut dinyatakan tidak bersalah</div>
                                        <% } %>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="card">
                            <div class="card-content">
                                <div class="title is-4 m-0 p-0 mb-1 has_title_underline" style="white-space: nowrap;">
                                    Sejarah Kriminal
                                </div>

                                <div class="content has-text-justified pr-1">
                                    <div>Nama : <%= current_case_data.case_name %></div>
                                    <div>Umur : <%= current_case_data.case_age %></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="columns mr-6 home-third-row-card">
                    <div class="column">
                        <div class="card has-background-success card-button" id="card-button-innocent">
                            <div class="card-content">
                                <div class="title is-4 has-text-white">Tidak Bersalah</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="column">
                        <div class="card has-background-danger card-button" id="card-button-guilty">
                            <div class="card-content">
                                <div class="title is-4 has-text-white">Bersalah</div>
                            </div>
                        </div>
                    </div>

                    <div class="column is-one-quarter">
                        <div class="card">
                            <div class="card-content">
                                <% 
                                    let case_current = user_data.crime_case[user_data.crime_case.length - 1].case_current;
                                    let case_max = user_data.crime_case[user_data.crime_case.length - 1].case_max;                          
                                %>

                                <div class="title is-5 has-text-centered"><%= case_current %> dari <%= case_max %> Kasus Hari Ini</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>