<!DOCTYPE html>
<html lang="en" class="has-background-light">
    <head>
        <%- include('partials/head', { title }); %>
    </head>

    <body>
        <%- include('partials/nav', { user_data }); %>
        <script>
            document.getElementsByClassName('link-item')[0].classList.add('link-item-is-active');
        </script>
        
        <div id="main-container" class="container is-fluid mb-0 pb-0">
            <section class="section mt-2 pt-2 mb-0 pb-0">
                <div class="columns mr-6 home-first-row-card">
                    <%
                        const list_of_stat_attribute = [
                            {display : "Penduduk", icon : "fa-user-group", color : "info", current : user_data.people_current, max : user_data.people_max, percentage : (user_data.people_current / user_data.people_max) * 100},
                            {display : "Kemakmuran", icon : "fa-face-smile", color : "success", current : user_data.prosperity_current, max : user_data.prosperity_max, percentage : (user_data.prosperity_current / user_data.prosperity_max) * 100},
                            {display : "Kriminalitas", icon : "fa-radiation", color : "danger", current : user_data.crime_rate_current, max : user_data.crime_rate_max, percentage : (user_data.crime_rate_current / user_data.crime_rate_max) * 100},
                            {display : "Keuangan", icon : "fa-coins", color : "warning", current : user_data.money_current, max : user_data.money_max, percentage : (user_data.money_current / user_data.money_max) * 100}
                        ];

                        let today_case_is_done = false;
                    %>

                    <% for(i = 0; i < list_of_stat_attribute.length; i++) {%>
                        <div class="column">
                            <div class="card" id="<%= list_of_stat_attribute[i].color %>_card">
                                <div class="card-content">
                                  <div class="content">
                                    <div class="icon-text title is-5 has-text-<%= list_of_stat_attribute[i].color %>">
                                        <div class="icon">
                                            <i class="fa-solid <%= list_of_stat_attribute[i].icon %>"></i>
                                        </div>
    
                                        <div class="text"><%= list_of_stat_attribute[i].display %></div>
                                    </div>
                                    
                                    <div class="content-progress">
                                        <div class="text"><%= list_of_stat_attribute[i].current %>/<%= list_of_stat_attribute[i].max %></div>
                                        <progress class="progress is-<%= list_of_stat_attribute[i].color %> is-medium" value="<%= list_of_stat_attribute[i].current %>" max=<%= list_of_stat_attribute[i].max %>><%= list_of_stat_attribute[i].percentage %>%</progress>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    <% }; %>
                </div>

                <% if(user_data.crime_case[user_data.crime_case.length - 1].status != "Done"){ %>
                    <%
                        let current_day = user_data.crime_case.length;
                        let current_case = user_data.crime_case[current_day - 1].case.length;
 
                        let case_identity = user_data.crime_case[current_day - 1].case[current_case - 1].case_identity;
                        

                        let case_current = user_data.crime_case[user_data.crime_case.length - 1].case_current;
                        let case_max = user_data.crime_case[user_data.crime_case.length - 1].case_max;

                        let case_left = case_max - case_current;
                        
                        if(case_current == case_max){
                            today_case_is_done = true;
                        };
                    %>

                    <div class="columns mr-6 home-second-row-card">
                        <div class="column is-three-quarters">
                            <div class="card">
                                <div class="card-content">
                                    <div class="title is-4 m-0 p-0 mb-1 has_title_underline" style="white-space: nowrap;">
                                        Kasus Kriminal
                                    </div>
    
                                    <div class="content has-text-justified pr-1">
                                        <% if(!today_case_is_done) {%>
                                            <div class="has-text-weight-semibold mb-3">Hari Ke-<%= current_day %>, Kasus Ke-<%= current_case %></div>
                                            <div><%= case_datas[user_data.crime_case[current_day - 1].case[current_case - 1].case_id - 1].crime %></div>
                                        <% } else if(today_case_is_done) {%>
                                            <div>Kasus untuk hari ini sudah habis, pindah ke hari berikutnya!</div>
                                        <% }; %> 
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="column">
                            <div class="card">
                                <div class="card-content">
                                    <div class="title is-4 m-0 p-0 mb-1 has_title_underline" style="white-space: nowrap;">
                                        Sejarah Kriminal
                                    </div>
    
                                    <div class="content has-text-justified pr-1">
                                        <% if(!today_case_is_done) {%>
                                            <% for(let i = 0; i < user_data.crime_case[current_day - 1].case[current_case - 1].case_identity.length; i++) { %>
                                                <div><%= case_identity[i][0]; %>, <%= case_identity[i][2].toLowerCase(); %>.</div>
                                                <div>berusia <%= case_identity[i][1]; %> tahun.</div>
                                                <br>
                                            <% }%>
                                        <% } else if(today_case_is_done) {%>
                                            <div>Kasus untuk hari ini sudah habis, pindah ke hari berikutnya!</div>
                                        <% }; %> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="columns mr-6 home-third-row-card">
                        <div class="column">
                            <div class="card has-background-success card-button card-button-innocent-active" id="card-button-innocent" onclick="trigger_modal('form-innocent')">
                                <div class="card-content">
                                    <form action="/home" method="POST" id="form-innocent">
                                        <input type="hidden" name="response" value="innocent">
                                        <input type="hidden" name="type" value="response">
                                        <div class="title is-4 has-text-white" id="form-innocent-title">Tidak Bersalah</div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        
                        <div class="column">
                            <div class="card has-background-danger card-button card-button-guilty-active" id="card-button-guilty" onclick="trigger_modal('form-guilty')">
                                <div class="card-content">           
                                    <form action="/home" method="POST" id="form-guilty">
                                        <input type="hidden" name="response" value="guilty">
                                        <input type="hidden" name="type" value="response">
                                        <div class="title is-4 has-text-white" id="form-guilty-title">Bersalah</div>
                                    </form>
                                </div>
                            </div>
                        </div>
    
                        <div class="column is-one-quarter">
                            <% if(!today_case_is_done) {%>
                                <div class="card">
                                    <div class="card-content">
                                        <div class="title is-5 has-text-centered">Sisa <%= case_left %> Kasus Hari Ini</div>
                                    </div>
                                </div>
                            
                            <% } else if(today_case_is_done) {%>
                                <div class="card has-background-success card-button" id="card-button-innocent" onclick="document.getElementById('form-next').submit();">
                                    <div class="card-content">
                                        <form action="/home" method="POST" id="form-next">
                                            <input type="hidden" name="type" value="next">
                                            <div class="title is-4 has-text-white">Ke Hari Berikutnya</div>
                                        </form>
                                    </div>
                                </div>
                            <% }; %>
                        </div>
                    </div>
                <% } else if(user_data.crime_case[user_data.crime_case.length - 1].status == "Done"){ %>
                    <div class="columns mr-6 home-final-row-card">
                        <div class="column">
                            <div class="card">
                                <div class="card-content">
                                    <div class="title is-4 m-0 p-0 mb-1 has_title_underline" style="white-space: nowrap;">
                                        Selamat Anda Telah Menyelesaikan EvaTion!
                                    </div>

                                    <%
                                        let total_score = 0;
                                        total_score += user_data.people_current * 10;
                                        total_score += user_data.people_max * 25 / 10;
                                        total_score += user_data.prosperity_current * 10;
                                        total_score += user_data.prosperity_max * 25 / 10;
                                        total_score += (100 - user_data.crime_rate_current) * 10;
                                        total_score += user_data.money_max * 1;
                                        total_score += (user_data.crime_case_correct / user_data.crime_case_taken.length) * 10000

                                        total_score = Math.trunc(total_score)  
                                    %>
    
                                    <div class="content has-text-justified pr-1">
                                        Score anda adalah : <%= total_score %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }%>
                
            </section>

            <div class="modal" id="modal-confirmation">
                <div class="modal-background"></div>
                <div class="modal-card">
                  <section class="modal-card-body m-0 p-0 pt-6 pb-6">
                    <h2 class="title is-3">Apakah anda yakin?</h2>
                    <div class="buttons are-large">
                      <button class="button is-success has-text-weight-bold" id="modal-confirm-button" onclick="">Iya</button>
                      <button class="button is-danger has-text-weight-bold" onclick="untrigger_modal('modal-confirmation')">Tidak</button>
                    </div>
                  </section>
                </div>
            </div>

            <div class="modal" id="modal-response">
                <div class="modal-background"></div>
                <div class="modal-card">
                    <section class="modal-card-body" id="modal-response-body">
                        <div class="title is-4 m-0 p-0 mb-1 has_title_underline" style="white-space: nowrap; display: flex; flex-direction: row; justify-content: space-between;">
                            <div id="modal-response-title"></div>
                            <button class="delete" aria-label="close" onclick="untrigger_modal('modal-response')"></button>
                        </div>

                        <div class="has-text-justified pr-1" id="modal-response-description"></div>
                        <br>
                        
                        <div>Sedangkan:</div>
                        <div class="has-text-justified pr-1" id="modal-response-conclusion"></div>
                        <br>

                        <div>Evaluasi anda:</div>
                        <div class="has-text-justified pr-1" id="modal-response-option"></div>
                        
                        <div id="modal-response-reward-container" style="display: none;">
                            <br>
                            <div>Imbalan:</div>
                            <i class="fa-solid fa-coins has_color_yellow"></i>
                            <span class="has-text-justified pr-1 has_color_yellow" id="modal-response-reward"></span>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </body>
    
    <script>
        function trigger_modal(id){
            let element = document.getElementById('modal-confirmation');
            element.classList.add('is-active');
            element.classList.add('is-clipped');

            document.getElementById('modal-confirm-button').setAttribute('onclick', `document.getElementById('${id}').submit()`);
        };

        function untrigger_modal(id){
            let element = document.getElementById(id);
            element.classList.remove('is-active');
            element.classList.remove('is-clipped');
        };

        function response_modal(){
            let url = new URL(window.location.href);
            let previous_case_crime = url.searchParams.get('previous_case_crime');
            let previous_case_conclusion = url.searchParams.get('previous_case_conclusion');
            let previous_case_is_guilty = url.searchParams.get('previous_case_is_guilty');
            let previous_case_response_is_guilty = url.searchParams.get('previous_case_response_is_guilty');
            let money_increase_total = url.searchParams.get('money_increase_total');

            if(typeof(previous_case_crime) !== 'object' && typeof(previous_case_conclusion) !== 'object' && typeof(previous_case_is_guilty) !== 'object' && typeof(previous_case_response_is_guilty) !== 'object' && typeof(money_increase_total) !== 'object'){
                let title_text;
                if(previous_case_is_guilty == previous_case_response_is_guilty){
                    title_text = "Evaluasi Anda Benar!";
                    document.getElementById('modal-response-body').classList.add('modal-success');
                    document.getElementById('modal-response-reward-container').style.display = 'block';
                }

                else if(previous_case_is_guilty != previous_case_response_is_guilty){
                    title_text = "Evaluasi Anda Salah!";
                    document.getElementById('modal-response-body').classList.add('modal-danger');
                };

                let option_text;
                if(previous_case_response_is_guilty == 'false'){
                    option_text = 'Tidak bersalah';
                }

                else if(previous_case_response_is_guilty != 'false'){
                    option_text = 'Bersalah';
                };

                document.getElementById('modal-response-title').innerHTML = title_text;
                document.getElementById('modal-response-description').innerHTML = previous_case_crime;
                document.getElementById('modal-response-conclusion').innerHTML = previous_case_conclusion;
                document.getElementById('modal-response-option').innerHTML = option_text;
                document.getElementById('modal-response-reward').innerHTML = money_increase_total;

                let element = document.getElementById('modal-response');
                element.classList.add('is-active');
                element.classList.add('is-clipped');
            }
        }

        response_modal()
    </script>

    <% if(today_case_is_done){ %>
        <script>
            document.getElementById('card-button-innocent').classList.remove('card-button-innocent-active');
            document.getElementById('card-button-guilty').classList.remove('card-button-guilty-active');

            document.getElementById('card-button-innocent').classList.add('card-button-innocent-disabled');
            document.getElementById('card-button-guilty').classList.add('card-button-guilty-disabled');

            document.getElementById('card-button-innocent').setAttribute('onclick', '');
            document.getElementById('card-button-guilty').setAttribute('onclick', '');

            document.getElementById('form-innocent-title').classList.remove('has-text-white');
            document.getElementById('form-guilty-title').classList.remove('has-text-white');

            document.getElementById('form-innocent-title').classList.add('has-text-grey');
            document.getElementById('form-guilty-title').classList.add('has-text-grey');
        </script>
    <% }; %>
</html>