<!DOCTYPE html>
    <html lang="en" class="has-background-light">
    <head>
        <%- include('partials/head', { title }); %>
    </head>

    <body>
        <%- include('partials/nav', { user_data }); %>
        <script>
            document.getElementsByClassName('link-item')[2].classList.add('link-item-is-active');
        </script>
        
        <div id="upgrade-container" class="container is-fluid mb-0 pb-0">
            <section class="section mt-2 pt-2 mb-0 pb-0">
                <div class="columns mr-6 home-first-row-card">
                    <%
                        const list_of_stat_attribute = [
                            {display : "Penduduk", icon : "fa-user-group", color : "info"},
                            {display : "Kemakmuran", icon : "fa-face-smile", color : "success"},
                            // {display : "Kriminalitas", icon : "fa-radiation", color : "danger"},
                            {display : "Keuangan", icon : "fa-coins", color : "warning"}
                        ];
                    %>                    

                    <% for(let i = 0; i < list_of_stat_attribute.length; i++) { %>
                        <div class="column">
                            <div class="card main-card-container" id="<%= list_of_stat_attribute[i].color %>_card">
                                <div class="card-content p-0">
                                    <div class="content">
                                        <div class="icon-text title is-5 has-text-<%= list_of_stat_attribute[i].color %> p-5 mb-0 main-card-title">
                                            <div class="icon">
                                                <i class="fa-solid <%= list_of_stat_attribute[i].icon %>"></i>
                                            </div>
        
                                            <div class="text"><%= list_of_stat_attribute[i].display %></div>
                                        </div>

                                        <div class="mt-0 upgrade-card-container">
                                            <% for(let j = 0; j < upgrade_datas[i].length; j++) { %>
                                                <div class="card has-background-light mb-0 mt-3 ml-3 mr-3 upgrade-card-item">
                                                    <div class="card-content p-0">
                                                        <div class="content p-2 upgrade-card-content">
                                                            <div class="icon mr-3 has_border_<%= list_of_stat_attribute[i].color %> upgrade-card-icon">
                                                                <i class="fa-solid <%= upgrade_datas[i][j].icon %>"></i>

                                                                <% if(list_of_stat_attribute[i].color == 'warning') { %>
                                                                    <div class="icon-background-text has_color_yellow upgrade-icon-symbol">+</div>
                                                                <% } else { %>
                                                                    <div class="icon-background-text has-text-<%= list_of_stat_attribute[i].color %> upgrade-icon-symbol">+</div>
                                                                <% } %>
                                                            </div>

                                                            <div class="upgrade-card-text">
                                                                <div>
                                                                    <div class="title m-0 p-0 upgrade-card-title"><%= upgrade_datas[i][j].name %></div>
                                                                    <div class="subtitle m-0 p-0 upgrade-card-title">Lv. 1</div>
                                                                </div>

                                                                <div>
                                                                    <% if(upgrade_datas[i][j].type == "Max") { %>
                                                                        <div class="subtitle m-0 p-0 upgrade-card-subtitle">
                                                                            <span>Max : </span>
                                                                            <span class="card_upgrade_amount_<%= i %>">+<%= upgrade_datas[i][j].amount %></span>
                                                                        </div>

                                                                    <% } else if(upgrade_datas[i][j].type == "Growth") { %>
                                                                        <div class="subtitle m-0 p-0 upgrade-card-subtitle">
                                                                            <span>Perkembangan : </span>
                                                                            <span class="card_upgrade_amount_<%= i %>">+<%= upgrade_datas[i][j].amount %>%</span>
                                                                        </div>
                                                                    <% } %>
                                                                    
                                                                    <% if(list_of_stat_attribute[i].color == 'warning') { %>
                                                                        <script>document.getElementsByClassName('card_upgrade_amount_<%= i %>')['<%= j %>'].classList.add('has_color_yellow')</script>
                                                                    <% } else { %>
                                                                        <script>document.getElementsByClassName('card_upgrade_amount_<%= i %>')['<%= j %>'].classList.add('has-text-<%= list_of_stat_attribute[i].color %>')</script>
                                                                    <% }%>
                                                                    
                                                                    <div class="subtitle m-0 p-0 upgrade-card-subtitle">
                                                                        <span>Biaya peningkatan : </span>
                                                                        <span><i class="fa-solid fa-coins has_color_yellow"></i> <span class="has_color_yellow"><%= upgrade_datas[i][j].cost %></span></span>
                                                                    </div>
                                                                </div>                                                                    
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }; %>       
                </div>
            </section>
        </div>
    </body>
</html>